In [1]:
!pip insatall pandas

ERROR: unknown command "insatall" - maybe you meant "install"

In [3]:
!pip install pandas

Requirement already satisfied: pandas in d:\coding file\machine learning\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in d:\coding file\machine learning\venv\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\coding file\machine learning\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\coding file\machine learning\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\coding file\machine learning\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in d:\coding file\machine learning\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

In [7]:
## creating series -> one dimension dataframes
# from list
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
#from dictionary
data = {'a':1,'b':2,'c':2}
series = pd.Series(data)
print(series)

a    1
b    2
c    2
dtype: int64

In [9]:
#dataFrames -> two dimensional  dataframe
## creating a dataframe from a dist of list
data = {"name":["Rishu","Anjali","Anupriya"],
        "Age":[25,30,45],
        "city":["Kolkata","Mumbai","Bihar"]}
df=pd.DataFrame(data);
print(df)

       name  Age     city
0     Rishu   25  Kolkata
1    Anjali   30   Mumbai
2  Anupriya   45    Bihar

In [ ]:
## creating datframe using list of dictionary
data = [{"name":"krish","age":32,"city":"banglore"}]